<config>
	<tabs>
		<taches translate="label" module="taches">
			<label>Modules HotelsGrandParis</label>
			<sort_order>100</sort_order>
		</taches>
	</tabs>
	<sections>
		<taches translate="label" module="taches">
			<label>Availpro Update Prices</label>
			<tab>taches</tab>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<manuel translate="label">
					<label>Commandes manuelles</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<availpro_manuel translate="label">
							<label>Lancer manuellement</label>
                            <frontend_model>taches/adminhtml_button</frontend_model>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<default>30</default>
							<comment><![CDATA[Permet de lancer <b>manuellement</b> le traitement]]></comment>
						</availpro_manuel>
					</fields>
				</manuel>
				<settings translate="label">
					<label>CRON</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<setting_cron translate="label">
							<label>Settings CRON</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[m h dom mon dow command ( * * * * * )<br /><a href="http://fr.wikipedia.org/wiki/Crontab" target="_blank">Doc CRONTAB sur Wikipedia</a>]]></comment>
						</setting_cron>
						<test_mode translate="label">
							<label>Test mode</label>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Si oui on prend "Prix test" au  lieu des vrais prix chez Availpro, <b>Attention pas en production !!</b>]]></comment>
						</test_mode>
						<availpro_test_price translate="label">
							<label>Prix test</label>
							<frontend_type>text</frontend_type>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<default>30</default>
							<comment><![CDATA[Prix test par exemple 123.45<br /><b>Attention pas en production !!</b>]]></comment>
						</availpro_test_price>
					</fields>
				</settings>
				<email translate="label">
					<label>Email settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<sender_email_identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_email_identity>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                        <email_recipient translate="label">
                            <label>Email Recipient</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Destinataires => logins du Backend, séparés par des ","]]></comment>
                        </email_recipient>
					</fields>
				</email>
				<availpro translate="label">
					<label>Availpro Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<availpro_type_price translate="label">
							<label>Type prices</label>
							<frontend_type>select</frontend_type>
							<source_model>taches/source_typeprices</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Type de prix sur la période]]></comment>
						</availpro_type_price>
						<availpro_type_room translate="label">
							<label>Type rooms</label>
							<frontend_type>select</frontend_type>
							<source_model>taches/source_typerooms</source_model>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Type de chambre référence]]></comment>
						</availpro_type_room>
						<availpro_nb_jrs translate="label">
							<label>Période de référence</label>
							<frontend_type>text</frontend_type>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<default>30</default>
							<comment><![CDATA[En nombre de jours, par défaut sur 30 jours.]]></comment>
						</availpro_nb_jrs>																	
						<chambre_libre translate="label">
							<label>Chambres libres uniquement</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>24</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Si à <b>Yes</b>, on prend uniquement les tarifs des chambres non occup&eacute;es.]]></comment>
						</chambre_libre>																	
					</fields>
				</availpro>
			</groups>
		</taches>
	</sections>
</config>