<?xml version="1.0"?>

<config>
	<modules>
		<Hgp_Engagement>
			<version>0.1.0</version>
		</Hgp_Engagement>
	</modules>
	<frontend>
		<routers>
			<engagement>
				<use>standard</use>
				<args>
					<module>Hgp_Engagement</module>
					<frontName>engagement</frontName>
				</args>
			</engagement>
		</routers>
		<layout>
			<updates>
				<engagement>
					<file>engagement.xml</file>
				</engagement>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<engagement>
				<use>admin</use>
				<args>
					<module>Hgp_Engagement</module>
					<frontName>engagement</frontName>
				</args>
			</engagement>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<engagement>
					<file>engagement.xml</file>
				</engagement>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<engagement>
				<class>Hgp_Engagement_Model</class>
				 <resourceModel>engagement_mysql4</resourceModel>
			</engagement>
			<engagement_mysql4>
                <class>Hgp_Engagement_Model_Mysql4</class>
                <entities>
                    <engagement>
                        <table>hgp_engagement</table>
                    </engagement>
                </entities>
            </engagement_mysql4>
		</models>
		<resources>
			<engagement_setup>
				<setup>
					<module>Hgp_Engagement</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</engagement_setup>
			<engagement_write>
				<connection>
					<use>core_write</use>
				</connection>
			</engagement_write>
			<engagement_read>
				<connection>
					<use>core_read</use>
				</connection>
			</engagement_read>
		</resources>
		<blocks>
			<engagement>
				<class>Hgp_Engagement_Block</class>
			</engagement>
		</blocks>
		<helpers>
			<engagement>
				<class>Hgp_Engagement_Helper</class>
			</engagement>
		</helpers>
	</global>
</config>