<?xml version="1.0"?>

<config>
	<modules>
		<Hgp_Presentation>
			<version>0.1.0</version>
		</Hgp_Presentation>
	</modules>
	<frontend>
		<routers>
			<presentation>
				<use>standard</use>
				<args>
					<module>Hgp_Presentation</module>
					<frontName>presentation</frontName>
				</args>
			</presentation>
		</routers>
		<layout>
			<updates>
				<presentation>
					<file>presentation.xml</file>
				</presentation>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<presentation>
				<use>admin</use>
				<args>
					<module>Hgp_Presentation</module>
					<frontName>presentation</frontName>
				</args>
			</presentation>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<presentation>
					<file>presentation.xml</file>
				</presentation>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<presentation>
				<class>Hgp_Presentation_Model</class>
				 <resourceModel>presentation_mysql4</resourceModel>
			</presentation>
			<presentation_mysql4>
                <class>Hgp_Presentation_Model_Mysql4</class>
                <entities>
                    <presentation>
                        <table>hgp_presentation</table>
                    </presentation>
                </entities>
            </presentation_mysql4>
		</models>
		<resources>
			<presentation_setup>
				<setup>
					<module>Hgp_Presentation</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</presentation_setup>
			<presentation_write>
				<connection>
					<use>core_write</use>
				</connection>
			</presentation_write>
			<presentation_read>
				<connection>
					<use>core_read</use>
				</connection>
			</presentation_read>
		</resources>
		<blocks>
			<presentation>
				<class>Hgp_Presentation_Block</class>
			</presentation>
		</blocks>
		<helpers>
			<presentation>
				<class>Hgp_Presentation_Helper</class>
			</presentation>
		</helpers>
	</global>
</config>