<?xml version="1.0"?>

<config>
	<modules>
		<Hgp_Meteo>
			<version>0.1.0</version>
		</Hgp_Meteo>
	</modules>
	<frontend>
		<routers>
			<meteo>
				<use>standard</use>
				<args>
					<module>Hgp_Meteo</module>
					<frontName>meteo</frontName>
				</args>
			</meteo>
		</routers>
		<layout>
			<updates>
				<meteo>
					<file>meteo.xml</file>
				</meteo>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<meteo>
				<use>admin</use>
				<args>
					<module>Hgp_Meteo</module>
					<frontName>meteo</frontName>
				</args>
			</meteo>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<meteo>
					<file>meteo.xml</file>
				</meteo>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<meteo>
				<class>Hgp_Meteo_Model</class>
				 <resourceModel>meteo_mysql4</resourceModel>
			</meteo>
			<meteo_mysql4>
                <class>Hgp_Meteo_Model_Mysql4</class>
                <entities>
                    <meteo>
                        <table>hgp_meteo</table>
                    </meteo>
                </entities>
            </meteo_mysql4>
		</models>
		<resources>
			<meteo_setup>
				<setup>
					<module>Hgp_Meteo</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</meteo_setup>
			<meteo_write>
				<connection>
					<use>core_write</use>
				</connection>
			</meteo_write>
			<meteo_read>
				<connection>
					<use>core_read</use>
				</connection>
			</meteo_read>
		</resources>
		<blocks>
			<meteo>
				<class>Hgp_Meteo_Block</class>
			</meteo>
		</blocks>
		<helpers>
			<meteo>
				<class>Hgp_Meteo_Helper</class>
			</meteo>
		</helpers>
	</global>
</config>