<?xml version="1.0"?>

<config>
	<modules>
		<Hgp_Map>
			<version>0.1.0</version>
		</Hgp_Map>
	</modules>
	<frontend>
		<routers>
			<map>
				<use>standard</use>
				<args>
					<module>Hgp_Map</module>
					<frontName>map</frontName>
				</args>
			</map>
		</routers>
		<layout>
			<updates>
				<map>
					<file>map.xml</file>
				</map>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<map>
				<use>admin</use>
				<args>
					<module>Hgp_Map</module>
					<frontName>map</frontName>
				</args>
			</map>
		</routers>
	</admin>
	<adminhtml>		
		<layout>
			<updates>
				<map>
					<file>map.xml</file>
				</map>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<map>
				<class>Hgp_Map_Model</class>
				<resourceModel>map_mysql4</resourceModel>
			</map>
			<map_mysql4>
				<class>Hgp_Map_Model_Mysql4</class>
				<entities>
					<map>
						<table>hgp_map</table>
					</map>
				</entities>
			</map_mysql4>
		</models>
		<resources>
			<map_setup>
				<setup>
					<module>Hgp_Map</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</map_setup>
			<map_write>
				<connection>
					<use>core_write</use>
				</connection>
			</map_write>
			<map_read>
				<connection>
					<use>core_read</use>
				</connection>
			</map_read>
		</resources>
		<blocks>
			<map>
				<class>Hgp_Map_Block</class>
			</map>
		</blocks>
		<helpers>
			<map>
				<class>Hgp_Map_Helper</class>
			</map>
		</helpers>
	</global>
</config>