<?xml version="1.0"?>

<config>
	<modules>
		<Hgp_Pub>
			<version>0.1.0</version>
		</Hgp_Pub>
	</modules>
	<frontend>
		<routers>
			<pub>
				<use>standard</use>
				<args>
					<module>Hgp_Pub</module>
					<frontName>pub</frontName>
				</args>
			</pub>
		</routers>
		<layout>
			<updates>
				<pub>
					<file>pub.xml</file>
				</pub>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<pub>
				<use>admin</use>
				<args>
					<module>Hgp_Pub</module>
					<frontName>pub</frontName>
				</args>
			</pub>
		</routers>
	</admin>
	<adminhtml>		
		<layout>
			<updates>
				<pub>
					<file>pub.xml</file>
				</pub>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<pub>
				<class>Hgp_Pub_Model</class>
				<resourceModel>pub_mysql4</resourceModel>
			</pub>
			<pub_mysql4>
				<class>Hgp_Pub_Model_Mysql4</class>
				<entities>
					<pub>
						<table>hgp_pub</table>
					</pub>
				</entities>
			</pub_mysql4>
		</models>
		<resources>
			<pub_setup>
				<setup>
					<module>Hgp_Pub</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pub_setup>
			<pub_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pub_write>
			<pub_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pub_read>
		</resources>
		<blocks>
			<pub>
				<class>Hgp_Pub_Block</class>
			</pub>
		</blocks>
		<helpers>
			<pub>
				<class>Hgp_Pub_Helper</class>
			</pub>
		</helpers>
	</global>
</config>