#ui-datepicker-div{font-size: 75.5%;}
.ui-datepicker table {width: 100%; font-size: 1.1em; border-collapse: collapse; margin:0 0 .4em; }
span.ui-datepicker-month, span.ui-datepicker-year {font-size:1.2em;}
.ui-widget-content { border: 1px solid #808080; background:#fff; color: #333333; }