<?xml version="1.0"?>

<config>
	<modules>
		<Hgp_Linksexchange>
			<version>1.0.0</version>
		</Hgp_Linksexchange>
	</modules>
	<frontend>
		<routers>
			<linksexchange>
				<use>standard</use>
				<args>
					<module>Hgp_Linksexchange</module>
					<frontName>linksexchange</frontName>
				</args>
			</linksexchange>
		</routers>
		<layout>
			<updates>
				<linksexchange>
					<file>linksexchange.xml</file>
				</linksexchange>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<linksexchange>
				<use>admin</use>
				<args>
					<module>Hgp_Linksexchange</module>
					<frontName>linksexchange</frontName>
				</args>
			</linksexchange>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<linksexchange translate="title" module="linksexchange">
											<title>Echanges de liens</title>
											<sort_order>60</sort_order>
										</linksexchange>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<models>
			<linksexchange>
				<class>Hgp_Linksexchange_Model</class>
				<resourceModel>linksexchange_mysql4</resourceModel>
			</linksexchange>
			<linksexchange_mysql4>
				<class>Hgp_Linksexchange_Model_Mysql4</class>
				<entities>
					<linksexchange>
						<table>hgp_linksexchange</table>
					</linksexchange>
				</entities>
			</linksexchange_mysql4>
		</models>
		<resources>
			<linksexchange_setup>
				<setup>
					<module>Hgp_Linksexchange</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</linksexchange_setup>
			<linksexchange_write>
				<connection>
					<use>core_write</use>
				</connection>
			</linksexchange_write>
			<linksexchange_read>
				<connection>
					<use>core_read</use>
				</connection>
			</linksexchange_read>
		</resources>
		<blocks>
			<linksexchange>
				<class>Hgp_Linksexchange_Block</class>
			</linksexchange>
		</blocks>
		<helpers>
			<linksexchange>
				<class>Hgp_Linksexchange_Helper</class>
			</linksexchange>
		</helpers>
	</global>
</config>