#bloc_hotel #ul_last_home_hotels{margin-bottom:20px}
#col_droite #bloc_actus{height:275px}
#col_droite #bloc_actus div.ColumnLeft{padding-bottom:10px}
#name_infobulle{font-size:15px;font-weight:700}
img.pict-map{border:1px solid #B9B9B9;float:left;height:100px;margin-top:5px;width:100px;margin-right:10px}
#info_bulle_global{float:none}
.footer .informational a{padding-right:0!important}
.footer .informational li.last{background:none repeat scroll 0 0 transparent;margin:0 auto 0 -1px}
.col_gauche_googlemap li.li_hotel_map a,#lava a{font-size:11px}